html{
    height: 100%;
  margin: auto;
  width: 960px;
}

body {
    background-color: #A7BED3;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: auto;
    background-color: #003976;
    margin: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
}

.header h1 {
    color: #EFAB00;
    padding-left: 10px;
    font-family: Verdana;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

.navbar li a.active {
    color: white;
    background-color: #048caa;
}

.map-text{
    color:white;
    text-align: left;
}

.map_body a{
    text-align: center;
    font-size: 40px;
    color: #EFAB00;
}

#img{
    float: left;
    margin: 0 15px 0 0 ;
}

.youbelonghere{
    position: center;
    font-size: 50px;
}

.home_body{
    text-align: center;
    color: #EFAB00;
}

.home_text p{
    font-size: 30px;
    color: white;
}

.faq_body{
    color:#EFAB00;
}

.faq_body a{
    color: white;
}
.faq_body {
    font-size: 15px;
}

.faq_body li a{
    margin-right: 10px;
}

.thingstodo img{
    border: 3px solid #000;
    border-radius: 2px;
}

.thingstodo h2, p{
    font-family: Verdana;
}

.courselist option:nth-child(2n){
    background-color: #ddd;
}

.courselist select{
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
}

.coursereviews h2{
    font-family: Verdana;
}

.roomates {
    width: 550px;
    float: left;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

.roomates h2, p, label{
    font-family: Verdana;
}

.roomate_example h2, p {
    font-family: Verdana;
}

#test {
    height: 100%;
    margin-left: 10%;
    width: auto;
}